@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  top: 1.25rem;
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.nav__logo {
  color: white;
}
.nav__logo span {
  border-bottom: solid white 2px;
  border-left: solid white 2px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-left: 0.25rem;
}
.nav__logo span:nth-of-type(2) {
  border-left: none;
  border-bottom: none;
  border-top: solid white 2px;
  border-right: solid white 2px;
  padding-left: 0;
  padding-right: 0.25rem;
}
.nav__logo--altColor {
  color: black;
}
.nav__logo--altColor span {
  border-bottom: solid black 2px;
  border-left: solid black 2px;
}
.nav__logo--altColor span:nth-of-type(2) {
  border-left: none;
  border-bottom: none;
  border-top: solid black 2px;
  border-right: solid black 2px;
}
.nav__list {
  display: none;
}
.nav__item {
  list-style: none;
}
.nav__dropBtn {
  display: block;
}
.nav--altBackground {
  background: #e5989b;
  color: black;
}

.dropDown {
  background: #e5989b;
  border-left: solid black 2px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4rem 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  visibility: hidden;
}
.dropDown--active {
  visibility: visible;
}
.dropDown__closeBtn {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
.dropDown__item {
  border-bottom: solid rgba(255, 255, 255, 0.25) 0.2rem;
  list-style: none;
  margin: 1rem 0 0 1rem;
  padding-right: 1rem;
}

.banner {
  background-image: url("../assets/workSpace426x640.jpg");
  background-size: cover;
  background-position: 50% 50%;
  padding: 1rem 0 1rem 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.banner::before {
  background: linear-gradient(to right, #00000088 80%, #ffffff44 100%);
  content: "";
  left: 0;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.banner__inner {
  border-top: solid rgba(255, 255, 255, 0.25) 0.2rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.banner__header {
  color: white;
  font-size: 1.5em;
  max-width: 50%;
  padding: 2rem 1rem 1rem 1rem;
}
.banner__buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.banner__button {
  border-bottom: solid rgba(255, 255, 255, 0.25) 0.2rem;
  color: white;
  cursor: pointer;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0 6rem;
  width: 100%;
}
.banner__button h2 {
  letter-spacing: 2px;
  padding: 0 0 0.5rem 0;
}
.banner__button span {
  font-size: 2.5rem;
}
.banner__beginBtn {
  border: solid rgba(255, 255, 255, 0.25) 0.2rem;
  background: none;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.25), 0px 0px 5px black;
  color: #555;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 1rem auto;
  padding: 1rem 3rem;
  transition: 0.25 all forwards;
}
@media only screen and (min-width: 920px) {
  .banner__beginBtn {
    transition: 0.25s all linear;
    margin: 2rem auto;
  }
  .banner__beginBtn:hover {
    background: #555;
    color: white;
  }
}

.two {
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem;
}
.two__article {
  align-items: center;
  color: #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  text-align: center;
}
.two__articleHeader {
  margin: 0.5rem 0;
}
.two__articleImg {
  background: black;
  border-radius: 50%;
  display: flex;
  height: 150px;
  width: 150px;
}
.two__articleImg img {
  border-radius: 50%;
  margin: auto;
  max-width: 100%;
}
.two__articleBtn {
  border: solid rgba(255, 255, 255, 0.25) 0.2rem;
  background: none;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.25), 0px 0px 5px black;
  color: #555;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 1rem auto;
  padding: 1rem 3rem;
  transition: 0.25 all forwards;
}
@media only screen and (min-width: 920px) {
  .two__articleBtn {
    transition: 0.25s all linear;
    margin: 2rem auto;
  }
  .two__articleBtn:hover {
    background: #555;
    color: white;
  }
}

.footer {
  background: #e5989b;
  text-align: center;
  padding: 2rem 1rem;
}
.footer__header {
  margin-bottom: 2rem;
}
.footer__form {
  display: flex;
  flex-wrap: wrap;
}
.footer__formGroup {
  margin-bottom: 1rem;
  width: 100%;
}
.footer__formLabel {
  display: block;
  padding: 1rem 0;
  font-weight: 700;
  text-align: start;
}
.footer__formInput {
  border: solid rgba(255, 255, 255, 0.25) 0.2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.25), 0px 0px 5px black;
  padding: 0.5rem 1rem;
  width: 100%;
}
.footer__formBtn {
  border: solid rgba(255, 255, 255, 0.25) 0.2rem;
  background: none;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.25), 0px 0px 5px black;
  color: #555;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 1rem auto;
  padding: 1rem 3rem;
  transition: 0.25 all forwards;
}
@media only screen and (min-width: 920px) {
  .footer__formBtn {
    transition: 0.25s all linear;
    margin: 2rem auto;
  }
  .footer__formBtn:hover {
    background: #555;
    color: white;
  }
}
@media only screen and (min-width: 576px) {
  .nav {
    padding: 0 3rem;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-right: 1rem;
  }
  .nav__item:nth-of-type(3) {
    margin-right: 0;
  }
  .nav__dropBtn {
    display: none;
  }

  .dropDown {
    display: none;
  }

  .banner {
    background-image: url("../assets/workSpace2400x1600.jpg");
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    padding: 1rem 0 3rem 0;
  }
  .banner__buttonContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .banner__button {
    width: auto;
  }
  .banner__header {
    color: white;
    max-width: 50%;
    margin: 0 auto;
    padding: 4rem 1rem 4rem 1rem;
  }

  .two {
    flex-direction: row;
  }
  .two__article {
    width: 50%;
  }

  .footer {
    padding: 4rem;
  }
  .footer__header {
    font-size: 2rem;
  }
  .footer__formGroup {
    padding: 0 2rem;
    width: 50%;
  }
  .footer__formGroup:nth-of-type(3) {
    width: 100%;
  }
}
@media only screen and (min-width: 920px) {
  .nav {
    top: 2.5rem;
  }

  .banner {
    background-position: 0 -50;
    padding: 4rem 0 3rem 0;
  }
  .banner__button {
    border-right: solid rgba(255, 255, 255, 0.25) 0.2rem;
    border-bottom: none;
    width: 33%;
  }
  .banner__button:nth-of-type(3) {
    border-right: none;
  }
}

/*# sourceMappingURL=index.css.map */
